@import url('https://fonts.googleapis.com/css?family-Dancing+Script');
body{
  background-image: url(img/collageperro.png);
    text-align: center;
}
img{
    max-width: 100%;
    max-height: 100%;
    text-align: center;

    
}
.button {
    background-color: #99659b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .borde{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("img/border.png") 30 stretch;
    
  }
  .antes_adoptar{
    background-color: rgba(146, 107, 197, 0.938);
    margin-top: 0%;
    padding-right: 3px;
    size: 100px;
    width: 3525x;
    height: 20px;
    color: white;
    text-align: center;
    transition: all 0.5s;
    
    position: absolute;
    
  }
  .antes_adoptar:hover{
    height: 200px;
    position: absolute;
    border-radius: 0%;
    
  }
  .letra{
    color: white;
  }
  h2{
    
    text-align: center;
    display: inline-block;
    position:relative;
    color: rgb(79, 51, 156);
    font-family: 'Dancing Script', cursive;
  }
  h2::after, h2::before{
    content: '';
    position:absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    

  }
  h2::before{
    left: -140px;

  }
  h2::after{
    right: -140px;

  }
  #trans{
    transition-timing-function: linear;
    
  }
  .c_a_v{
    border: 2px solid black;
    
  }
  .perro{
    width: 80%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5);

  }
  .texto{
    background-color: white;
  }